<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/head :: head(~{::title}, ~{})">
    <meta charset="UTF-8">
    <title>正则平台 - 登录页面</title>
</head>
<body>
<nav th:replace="layouts/navbar :: navbar"></nav>

<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">登录</h4>
                </div>
                <div class="panel-body">
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label for="username">姓名</label>
                            <input type="text" class="form-control" name="username">
                        </div>
                        <div class="form-group">
                            <label for="password">密码</label>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <!--/*@thymesVar id="SECURITY_LAST_EXCEPTION" type=""*/-->
                        <div class="alert alert-danger" role="alert" th:if="${param.error}" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></div>
                        <button type="submit" class="btn btn-default">登录</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>